
DerivedData
*.timestamp
*.pcm
*.tmp
*.lock-53ad50d1
*.swiftmodule
*.plist
*.mdb
DerivedData/WeSplit/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-298fdb72ae071487c377dce41e17e97d
DerivedData/WeSplit/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-298fdb72ae071487c377dce41e17e97d
*.mdb
DerivedData/WeSplit/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=0ea7d573b7165697bf821f0dee15c832_subobjects=ef86ffab6be05663c89b37a8f794a45b-json
